*{
    box-sizing: border-box;
}

h3{
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 19ch;
    animation: typing 2s steps(19),
    blink .5s infinite step-end alternate;
    overflow: hidden;
}



@keyframes typing{
    from{
        width: 0px;
    }
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}